@import "tailwindcss";

@theme {
  /* تم رنگی اصلی برگرفته از لوگو بالکن */
  --color-balkun-cyan: #00aeef; /* رنگ آبی فیروزه‌ای پین */
  --color-balkun-cyan-dark: #008fce;
  
  --color-balkun-navy: #153e75; /* رنگ سرمه‌ای موج‌ها - برای متون تیره و فوتر */
  --color-balkun-navy-dark: #0d2850;
  
  --color-balkun-orange: #f37021; /* رنگ نارنجی دسته ذره‌بین - برای دکمه‌ها و اکشن‌ها */
  --color-balkun-orange-dark: #d95e16;
  
  --color-balkun-yellow: #fdb913; /* رنگ زرد خورشید - برای ستاره‌ها و مدال‌ها */

  /* معرفی وزیرمتن به عنوان فونت پیش‌فرض سیستم تیلویند */
  --font-sans: var(--font-vazirmatn), ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 min-h-screen;
}